.catalog {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "table cart"
        "table groups"
}

.catalog #table {
    grid-area: table
}

.catalog #cart {
    grid-area: cart
}

.catalog #groups {
    grid-area: groups
}